<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista zajec</title>
</head>
<body>
<h1>Lista zajec</h1>
<ol>
    <li th:each="class : ${classes}">
        <div>
            <p th:text="|Nazwa zajec: ${class.subject.subjectName}"|></p>
            <p th:text="|Nauczyciel: ${class.teacher.teacherName} ${class.teacher.teacherSurname}|"></p>
            <p th:text="|Termin zajec: ${class.dayOfWeek} ${#temporals.format(class.beginOfClass, 'HH:mm')} ${#temporals.format(class.endOfClass, 'HH:mm')}|"></p>
            <p>Lista uczniow:</p>
            <ul>
                <li th:each="student : ${class.students}">
                    <p th:text="|${student.studentName} ${student.studentSurname}|"></p>
                </li>
            </ul>
        </div>
    </li>
</ol>
<a th:href="@{/}">Powrot</a>
</body>
</html>