<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista studentow</title>
</head>
<body>
<h1>Lista studentow</h1>
<ol>
    <li th:each="student : ${students}">
        <p th:text="|${student.studentName} ${student.studentSurname}"></p>
        <p>Zajecia w ktoych uczen bierze udzial:</p>
        <ul>
            <li th:each="class : ${student.classes}">
                <p th:text="|Przedmiot: ${class.subject.subjectName}|"></p>
                <p th:text="|Nauczyciel: ${class.teacher.teacherName} ${class.teacher.teacherSurname}|"></p>
                <p>Terminy zajec:</p>
                <ul>
                    <li th:each="lesson : ${class.lessons}">
                        <p th:text="|${lesson.dayOfWeek} ${#temporals.format(lesson.beginOfClass, 'HH:mm')} – ${#temporals.format(lesson.endOfClass, 'HH:mm')}|"></p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ol>
<a th:href="@{/}">Powrot</a>
</body>
</html>