<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista nauczycieli</title>
</head>
<body>
<h1>Lista nauczycieli</h1>
<ol>
    <li th:each="teacher : ${teachers}">
        <p th:text="|${teacher.teacherName} ${teacher.teacherSurname}"></p>
        <p>Zajecia prowadzone przez nauczyciela:</p>
        <ul>
            <li th:each="class : ${teacher.classes}">
                <p th:text="|Przedmiot: ${class.subject.subjectName}|"></p>
                <p>Terminy zajec:</p>
                <ul>
                    <li th:each="lesson : ${class.lessons}">
                        <p th:text="|${lesson.dayOfWeek} ${#temporals.format(lesson.beginOfClass, 'HH:mm')} – ${#temporals.format(lesson.endOfClass, 'HH:mm')}|"></p>
                    </li>
                </ul>
                <p>Lista uczniow:</p>
                <ul>
                    <li th:each="student : ${class.students}">
                        <p th:text="|${student.studentName} ${student.studentSurname}|"></p>
                    </li>
                </ul>

            </li>
        </ul>
    </li>
</ol>
<a th:href="@{/}">Powrot</a>
</body>
</html>